.about {
    position: relative;
    min-height: 300vh;
}

.about__container {
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(circle at 50% 50%, #42595d, #1b1b1b);
}

.about__container-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(18, 17, 48, 0.9), rgba(0, 0, 0, 0.45)), url("../images/Landingpage.png");
    background-position: 0 0, 50% 50%;
    background-size: auto, cover;
    overflow: hidden;
    opacity: 0;
    will-change: opacity;
}
.about__wrapper{
    max-width: 47rem;
    margin: auto;
    min-height: 100vh;
    padding: 0 1rem;
}
.about__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 900;
    z-index: 1;
}

.about__description {
    font-size: 1.25rem;
    line-height: 1.75rem;
    position: relative;
    z-index: 9;
}

.about__img-wrapper {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.about__img-wrapper img {
    width: 70vw;
    max-width: 40rem;
}

@media screen and (max-width: 991px) {
    .about__title {
        font-size: 2.25rem;
        line-height: 3rem;
    }
    .about__description {
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 767px) {

    .about__container-bg {
        background-position: 0 0, 35% 50%;
    }
    .about__title {
        font-size: 2rem;
        line-height: 2.75rem;
    }

    .about__img-wrapper {
        position: relative;
        bottom: 0;
    }
}
@media screen and (max-width: 575px){
    .about {
        min-height: 200vh;
    }
}
