.hero {
    width: 100%;
    min-height: calc(100vh - 60px);
    padding-top: 60px;
    /*background: #1b1b1b;*/
    overflow-x: hidden;
    background-image: radial-gradient(circle at 50% 70%, #2a1a36, #1b1b1b);
}

.hero > .row {
    min-height: calc(100vh - 60px);
}

.hero > .row > .col-12:first-child {
    min-height: 38vh;
}

.hero--container {
    height: 100%;
    padding: 1rem 0;
}

.hero--img {
    position: absolute;
    max-width: 40rem;
    bottom: 0;
    will-change: left;
}

.hero--img:nth-of-type(1) {
    z-index: 1;
    left: -35%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 42rem;
    animation: hero-image-1 0.65s forwards linear;
    animation-delay: 0.25s;
}

.hero--img:nth-of-type(2) {
    z-index: 2;
    left: -35%;
    transform: translateX(5%);
    width: 42%;
    max-width: 21.5rem;
    animation: hero-image-1 0.75s forwards linear;
    animation-delay: 0.45s;
}

.hero--img:nth-of-type(3) {
    z-index: 3;
    left: -35%;
    transform: translateX(-90%);
    width: 58%;
    max-width: 35rem;
    animation: hero-image-1 0.85s forwards linear;
    animation-delay: 0.65s;

}

.hero--title {
    font-size: 3.25rem;
    line-height: 3.5rem;
    font-weight: 900;
    max-width: 30rem;
    color: #f09560;
    margin-right: auto;
    margin-bottom: 2rem;
}

.hero--description {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #f5f5f5;
    max-width: 32rem;
    z-index: 9;
}

.hero--description:nth-last-of-type(1) {
    font-size: 1rem;
    font-weight: 200;
}


@media screen and (max-width: 991px) {
    .hero--title {
        font-size: 3rem;
        line-height: 3.5rem;
        max-width: 30rem;
    }

    .hero--description {
        font-size: 1.05rem;
        line-height: 1.5rem;
    }

}

@media screen and (max-width: 767px) {
    .hero--title {
        font-size: 2.75rem;
        line-height: 3.25rem;
    }

    .hero--description {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 441px) {
    .hero--title {
        text-align: left;
        font-size: 2.25rem;
        line-height: 3rem;
    }

    .hero--description {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}

@keyframes hero-image-1 {
    0% {
        left: -35%;
    }
    100% {
        left: 50%;
    }
}