.mint {
    width: 100%;
    background-image: linear-gradient(180deg, #13061a, #40272f);
    padding: 5rem 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mint__container{
    max-width: 45rem;
}
.mint__title {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 900;
}
.mint__description {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0;
}

.mint__discord-icon{
    height: 20rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 991px){
    .mint__title {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .mint__description {
        font-size: 1.35rem;
        line-height: 1.5rem;
    }

}
@media screen and (max-width: 767px){
    .mint {
        height: auto;
        min-height: 100vh;
    }
    .mint__title {
        font-size: 2rem;
        line-height: 2.75rem;
    }
    .mint__description {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .mint__discord-icon {
        height: 15rem;
    }
}
