.rarity {
    width: 100%;
    background-image: linear-gradient(180deg, #13061a, #18191a);
    padding: 5rem 1rem;
    color: white;
    display: flex;
    justify-content: center;
}

.rarity__container{
    max-width: 45rem;
}
.rarity__title {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 900;
}
.rarity__description {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0;
}

@media screen and (max-width: 991px){
    .rarity__title {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .rarity__description {
        font-size: 1.35rem;
        line-height: 1.5rem;
    }

}
@media screen and (max-width: 767px){
    .rarity {
        height: auto;
        min-height: 100vh;
    }
    .rarity__title {
        font-size: 2rem;
        line-height: 2.75rem;
    }
    .rarity__description {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}
@media screen and (max-width: 575px){
    .rarity__description .row .col-4{
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 350px){
    .rarity__description .row .col-4{
        font-size: 0.9rem;
        line-height: 1.35rem;
    }
}
