.roadmap {
    width: 100%;
    background-image: linear-gradient(180deg, #18191a, #13061a);
    padding: 5rem 1rem;

    color: white;
    display: flex;
    flex-direction: column;
}

.roadmap__container {
    max-width: 45rem;
    margin: auto;
}

.roadmap__title {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 900;
}

.roadmap__description {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0;
}

.timeline {
    display: flex;
    justify-content: center;
}

.timeline__left {
    display: flex;
    border-right: 5px solid #a23ddf;
    padding-top: 3rem;
    font-size: 1.25rem;
}
.timeline__right {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.timeline__left-container, .timeline__right-container{
    position: relative;
    width: 38vw;
    max-width: 29rem;
    display: block;
}
.timeline__left-wrapper{
    position: sticky;
    top: 35%;
    padding-right: 3rem;
    padding-bottom: 3rem;
}
.timeline__left-wrapper:after{
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10%;
    transform: translateY(50%);
    right: -9.5%;
    border: 1.15em solid;
    border-color: transparent transparent transparent #62f58c ;
}
.timeline:last-of-type .timeline__left-wrapper:after{
    top: 0;
    transform: translateY(-25%);
}

.timeline__right-wrapper{
    padding-left: 3rem;
    line-height: 1.5;
}
.timeline img{
    border-radius: 1rem;
    object-fit: cover;
    margin-bottom: 1rem;
}

@media screen and (max-width: 991px) {

    .roadmap__title {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .roadmap__description {
        font-size: 1.35rem;
        line-height: 1.5rem;
    }

}

@media screen and (max-width: 767px) {
    .roadmap {
        height: auto;
        min-height: 100vh;
    }

    .roadmap__title {
        font-size: 2rem;
        line-height: 2.75rem;
    }

    .roadmap__description {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }


    .timeline__right {
        max-width: 100%;

    }
    .timeline__right-wrapper{
        padding-left: 1.5rem;
    }
    .timeline__left-wrapper:after {
        right: -16.5%;
    }
}
@media screen and (max-width: 575px) {
    .roadmap {
        height: auto;
        min-height: 100vh;
    }

    .roadmap__description {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .timeline {
        flex-direction: column;
    }
    .timeline__left {
        border-right: 0;
        padding-bottom: 1rem;
    }
    .timeline__right {
        max-width: 100%;

    }
    .timeline__right-wrapper{
        padding: 0;
    }
    .timeline__left-wrapper:after{
        top: auto;
        bottom: -25%;
        transform: translateX(calc(-50% + 3rem));
        right: 50%;
        border-color: #62f58c transparent transparent transparent ;
    }

    .timeline:last-of-type .timeline__left-wrapper:after{
        top: auto;
        transform: translateX(calc(-50% + 3rem));
    }

    .timeline__left-container, .timeline__right-container{
        width: 100%;
    }
}
