.team {
    width: 100%;
    background-color: #171717;
}

.team__title {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 900;
}

.team__card {
    overflow: hidden;
    height: calc(100% - 1rem);
}

.team__card-title {
    font-size: 1.15rem;
    line-height: 1.5;
}

.team__card p {
    line-height: 1.5;
    min-height: 7.5rem;
}

.team__card-img {
    max-height: 22rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

@media screen and (max-width: 767px) {

    .team__title {
        font-size: 2rem;
        line-height: 2.75rem;
    }

    .team__card-title {
        font-size: 1.05rem;
        line-height: 1.5;
    }

    .team__card p {
        min-height: 100%;
    }
}
